
.text-area {
    -fx-font-family: Consolas;
}

.button, .combo-box {
    -fx-max-width: INFINITY;
}

#leftMenu {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.tab-changed {
    -fx-background-color: #81C784;
}

.tab-exited {
    -fx-background-color: #E57373;
}